DB_USER=postgres
DB_HOST=localhost
DB_NAME=miniblog-api
DB_PASSWORD=tu_password
DB_PORT=5432
PORT=3000
NODE_ENV=development

# Si prefieres usar DATABASE_URL en Railway u otro despliegue:
# DATABASE_URL=postgres://postgres:tu_password@localhost:5432/miniblog